body {
    background-image: url('../images/backdrop6.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 70px; /* Adjust based on header height */
    color: #ffffff; /* Set default text color to white */
}

.navbar.transparent-navbar {
    background-color: rgba(0, 0, 0, 0.7); /* Blackish tint with transparency */
}

.navbar .nav-link {
    color: #fff !important; /* White text color for nav links */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.navbar .navbar-brand img {
    filter: brightness(0) invert(1); /* Adjust logo if needed */
}

h2, h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow to text for better readability */
    color: #ffffff; /* Ensure headers are white */
}

.card {
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Blackish tint with transparency */
    color: white; /* Ensure card text is white */
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.1); /* Light background for card body for contrast */
}

.footer.transparent-footer {
    background-color: rgba(0, 0, 0, 0.7); /* Blackish tint with transparency */
    color: white;
}

.footer img {
    width: 120px;
    height: auto;
}

.modal-header {
    background-color: #007bff;
}

.modal-header .close {
    color: white;
}

.modal-body {
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
    backdrop-filter: blur(100px);
}



/* Button styles for GSAP animations */
#about-button {
    background-color: transparent;
    color: #007bff;
    transition: background-color 0.5s, color 0.5s, border-radius 0.5s;
}

#about-button:hover {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
}

.observe {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
}

.observe .fill {
    background-color: #ff5733; /* New color to fill on hover */
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: width 0.5s ease-out;
}

.observe:hover .fill {
    width: 100%;
}

.observe span {
    position: relative;
    z-index: 2;
}
