{% extends 'base.html' %}

{% block content %}
<div class="container pt-5">
    <div class="text-center w-75 mx-auto my-5 py-5">
        <h1 class="display-5 fw-bold">Control BITS Goa's Observation Telescope</h1>
        <p class="fs-5">SEDS Celestia has opened access to our automated observation telescope to every BITS student. Through this webportal, you can select a target, exposure settings</p>
    </div>
    <div class="container">

        <h2 class="relative"><span class="font-monospace fs-5 text-gray me-2">STEP 1</span> Select a target</h2>

        {% for category, objects in arranged_data.items() %}
            <div class="row mt-4">
                <div class="col-12">
                    <h3 class="font-monospace fw-bold fs-5 text-gray me-2 my-3 text-uppercase">{{ category }}</h3>
                </div>
                {% for object, image_url in objects.items() %}
                    <div class="col-md-4">
                        <div class="card mb-3 w-75 h-100">
                            <img src="{{ image_url }}" class="card-img-top object-fit-cover" alt="{{ object }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ object }}</h5>
                                <button id="{{ object }}" class="btn btn-secondary observe">Observe</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popup" tabindex="-1" aria-labelledby="popupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popupLabel">Enter Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="observation-form">
                    <div class="form-group">
                        <label for="exposure">Exposure Time:</label>
                        <select id="target" name="target" class="form-control">
                            <option value="1">1 sec</option>
                            <option value="2">2 sec</option>
                            <option value="3">3 sec</option>
                            <!-- Options will be updated dynamically -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Email ID:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

